@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
}








/* Custom font size and line height classes */
.course-details-heading-small {
  font-size: 26px;
  line-height: 36px;
}

.course-details-heading-large {
  font-size: 36px;
  line-height: 44px;
}

.home-heading-small {
  font-size: 28px;
  line-height: 34px;
}

.home-heading-large {
  font-size: 48px;
  line-height: 56px;
}

.default-font {
  font-size: 15px;
  line-height: 21px;
}

/* @theme {
  gridTemplateColumns: {
    'auto' : 'repeat(auto-fit, minmax(200px, 1fr))'
  }
}  */

/* spacing: {
  'section-height' : '500px',
} */

/* :root {
  --section-height: 500px;
} */
/* custom height css property timestamp 3:29:30 in the course details page*/

.max-height {
  max-height: 500px;
  background-color: cyan;
}










@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }





.max-width {
  max-width: 424px;
}

.box-shadow {
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
}


/* time stamp 04:23:23 continue with this part */
/* custom css propert doc */
